body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    background-image: linear-gradient(to left bottom,  #5032b6 , #b563d1 );
    height: 100vh;
}
#header{
    display: flex;
    width: 100%;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 10px;
}
#header h1{
    margin-left: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#header input{
    margin-left: -24%;
    padding: 7px;
    width: 430px;
    font-size: 0.8rem;
    line-height: 2;
    background-color: white;
    border: none;
}
#navbar{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-right: 150%;
    margin-left: -55%;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
}
#navbar li a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: white;
}
.icon{
    /* position: absolute;
    top: 5%; */
    margin-top: -10%;
}
.icon i{
    font-size: 20px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px; 
    margin-left: 5px;
    
}
#banner{
    display: flex;
}
#banner img{
    margin: 7% 0 0 10%;
    height: 70vh;
}
#banner .content{
    margin: 7% 0 0 0;
    color: white;
}
.content h4{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    line-height: 4rem;
    margin-top: -1%;
}
.content button{
    font-size: 10px;
    font-weight: 600;
    width: 35%;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #ffc300;
}
.content button:hover{
    /* background-color: #b563d1; */
    opacity: 0.8;
}
.fa-chevron-left {
    position: absolute;
    top: 40%;
    left: 0;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    padding: 10px;
    margin-left: 1%;
    cursor: pointer;
}
.fa-chevron-right {
    position: absolute;
    top: 40%;
    right: 0;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    padding: 10px;
    margin-right: 1%;
    cursor: pointer;
}
#features .fea{
    display: flex;
    background-color: #fdf2ff;
    height: 30vh;
    width: 100%;
}
.box{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
}
.box i{
    font-size: 24px;
    color: #b563d1;
}
.contents{
    margin: -7% 0 0 3%;
}
.contents p{
    margin-top: -3%;
    font-size: 13px;
    color: grey;
    font-weight: 600;
}
.contents h3{
    color: #353336;
}
#container1{
    height: 85vh;
}
#container1 .ee{
    margin-top: 5%;
} 
#container1 .desc{
    text-align: center;
}
#container1 .desc h4{
    color: #353336;
}
#container1 .desc h1{
    font-size: 50px;
    line-height: 1rem;
    color: #353336;
}
#container1 .desc p{
    color: grey;
    font-size: 13px;
    
}
.products{
    display: flex;
    margin: 5% 0 0 15%;
}
.products a{
    text-decoration: none;
}
.product1{
    margin-top: -4%;
}
.product1 img{
    height: 35vh;
}
.product1 .h4{
    font-size: 13px;
    margin-left: 35%;
    margin-top: -16%;
    line-height: 10px;
    color: gray;
}
.product2{
    margin-left: 10%;
}
.product2 img{
    height:18vh;
}
.product2 .h4{
    font-size: 13px;
    margin-left: 5.5%;
    margin-top:  53%;
    line-height: 10px;
    color: gray;
}
.product3{
    margin-left: 10%;
}
.product3 img{
    height: 17vh;
}
.product3 .h4{
    font-size: 13px;
    margin-left: 25%;
    margin-top:  40%;
    line-height: 10px;
    color: gray;
}
.product4{
    margin-left: 10%;
}
.product4 img{
    margin-top: -13%;
    height: 22vh;
}
.product4 .h4{
    font-size: 13px;
    margin-left: 30%;
    margin-top: 20%;
    line-height: 10px;
    color: gray;
}

#container2{
    height: 100vh;
    background-color: #fdf2ff;
}

#container2 .desc{
    text-align: center;
    padding: 20px;
}
#container2 .desc h1{
    font-size: 50px;
    line-height: 1rem;
    color: #353336;
}
#container2 .desc h4{
    font-size: 13px;
    color: #353336;
}
.grid1{grid-area: img1;}
.grid2{grid-area: img2;}
.grid3{grid-area: img3;}
.grid4{grid-area: img4;}

.valiya{
    display: grid;
    grid-template-areas: 'img1 img2 img2 img3 '
                          'img1 img4 img4 img4';
    width: 10px;   
    margin-left: 13%; 
    margin-top: 2%;                   
}    
.grid1{
    border: 1px solid black;
    border: none;
    height: 65vh;
    background-color: white;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
.grid1 h2{
    color: #353336;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 10%;
    font-weight: 600;
}
.grid1 p{
    font-size: 12px;
    color: grey;
    margin-top: -10px;
    margin-left: 10%;
}
.grid1 .image1 img{
    margin-top: 34%;
    height: 27vh;
}
.grid1 button{
    font-size: 13px;
    font-weight: 600;
    width: 45%;
    padding: 10px;
    border-color: #b563d1;
    border-radius: 70px;
    cursor: pointer;
    border-radius: 20px;
    color: #b563d1;
    background-color: white;
    margin-left: 10%;
    margin-top:3%;
}
.grid1 button:hover{
    background-color: #b563d1;
    color: white;
}
.grid2{
    border: 1px solid black;
    border: none;
    height: 33vh;
    margin-left: 5%;
    background-color: white;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
.grid2 .image2 .kk{
    display: flex;
}
.grid2 .image2 h2{
    color: #353336;
    font-weight: 700;
    margin-top: 20%;
    margin-left: 20%; 
}
.grid2 .image2 p{
    color: #353336;
    font-weight: 700;
    font-size: 15px;
    margin-left: 20%; 
}
.grid2 .image2 img{
    height: 30vh;
    margin-top: 17%;
    margin-left: -13%;
}
.grid3{
    border: 1px solid black;
    border: none;
    height: 33vh;
    width: 135%;
    margin-left: 6%;
    background-color: white;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
.grid3 .image3 .zz{
    display: flex;
}
.grid3 .image3 h2{
    color: #353336;
    font-weight: 700;
    margin-top: 60%;
    margin-left: 40%;
}
.grid3 .image3 p{
    color: #353336;
    font-weight: 700;
    font-size: 15px;
    margin-left: 40%;
}
.grid3 .image3 img{
    height: 40vh;
    margin-top: -4%;
    margin-left: 29%;
}
.grid4{
    border: 1px solid black;
    border: none;
    height: 29vh;
    width: 115%;
    margin-top: 3%;
    margin-left: 3%;
    background-color: white;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
.grid4 .image4 .rrr{
    display: flex;
}
.grid4 .image4 h2{
    color: #353336;
    font-weight: 700;
    margin-left: 20%; 
}
.grid4 .image4 p{
    color: grey;
    font-weight: 700;
    font-size: 15px;
    line-height: 1rem;
    margin-top: -5%;
    margin-left: 20%;
}
.grid4 .image4 img{
    height: 35vh;
    margin-left: 25%;
}
.grid4 .image4 button{
    font-size: 13px;
    font-weight: 600;
    width: 75%;
    padding: 10px;
    border-color: #b563d1;
    border-radius: 70px;
    cursor: pointer;
    border-radius: 20px;
    color: #b563d1;
    background-color: white;
    margin-left: 20%;
    margin-top: 3%;
}
.grid4 button:hover{
    background-color: #b563d1;
    color: white;
}
#container3{
    height: 105vh;
}
.header1{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
.header1 h1{
    font-size: 60px;
    color: #353336;
}
.navbar1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar1 li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
.navbar1 li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: grey;
}
.navbar1 li a.active::after,
.navbar1 li a:hover::after{
    content: "";
    width: 40%;
    height: 5px;
    background: #b878c6;
    position: absolute;
    bottom: -3px;
    left: 20px;
}
#electronics{
    text-align: center;
}
#electronics .items{
    width: 170px;
    border: 1px solid black;
    display: inline-block;
    border: none;
    padding: 30px;
    margin-right: 1.5%;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
#electronics .items img{
    height: 25vh;
    margin-left: -40%;
}
#electronics .items h2{
    margin-left: -4%;
    color: #353336;
}
#electronics .items p{
    margin-left: -4%;
    color: #353336;
    font-weight: 600;
}
#electronics .items i{
    border: 1px solid #b563d1;
    border-radius: 30px;
    padding: 10px;
    color: #b563d1;
    margin-left: 80%;
    margin-top: -15%;
}
#electronics .items1{
    width: 170px;
    border: 1px solid black;
    display: inline-block;
    border: none;
    padding: 30px;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
#electronics .items1 img{
    height: 25vh;
    margin-left: 1%;
}
#electronics .items1 h2{
    margin-left: -4%;
    color: #353336;
}
#electronics .items1 p{
    margin-left: -4%;
    color: #353336;
    font-weight: 600;
}
#electronics .items1 i{
    border: 1px solid #b563d1;
    border-radius: 30px;
    padding: 10px;
    color: #b563d1;
    margin-left: 80%;
    margin-top: -15%;
}
#electronics .items2{
    width: 170px;
    border: 1px solid black;
    display: inline-block;
    border: none;
    padding: 30px;
    margin-left: 1.5%;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
#electronics .items2 img{
    height: 25vh;
    margin-left: -3%;
}
#electronics .items2 h2{
    margin-left: -4%;
    color: #353336;
}
#electronics .items2 p{
    margin-left: -4%;
    color: #353336;
    font-weight: 600;
}
#electronics .items2 i{
    border: 1px solid #b563d1;
    border-radius: 30px;
    padding: 10px;
    color: #b563d1;
    margin-left: 80%;
    margin-top: -15%;
}
#electronics .items3{
    width: 170px;
    border: 1px solid black;
    display: inline-block;
    border: none;
    padding: 30px;
    margin-left: 1.5%;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
#electronics .items3 img{
    height: 25vh;
    margin-left: -5%;
}
#electronics .items3 h2{
    margin-left: -4%;
    color: #353336;
}
#electronics .items3 p{
    margin-left: -4%;
    color: #353336;
    font-weight: 600;
}
#electronics .items3 i{
    border: 1px solid #b563d1;
    border-radius: 30px;
    padding: 10px;
    color: #b563d1;
    margin-left: 80%;
    margin-top: -15%;
}
.arrows .fa-chevron-left{
    position: absolute;
    top: 420%;
    left: 47%;
    border: 1px solid #b563d1;
    border-radius: 50px;
    color: #b563d1;
    font-size: 13px;
    padding: 10px;
    /* margin-left: 1%; */
    cursor: pointer;
}
.arrows .fa-chevron-right{
    position: absolute;
    top: 420%;
    right: 46.5%;
    border: 1px solid #b563d1;
    border-radius: 50px;
    color: #b563d1;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
}

#container4{
    height: 100vh;
    background-color: #fdf2ff;
}
.header2{
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
}
.header2 h1{
    font-size: 50px;
    color: #353336;
}
.header2 h2{
    font-size: 35px;
    color: #353336;
}
.contents1{
    display: flex;
    align-items: center;
    margin-left: 15%;
}    
.menu{
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    border: none;
    width: 15%;
    height: 22%;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
}
.menu h2{
    margin-left: 14%;
    font-size: 18px;
    color: #353336;
}
.navbar2 li{
    list-style: none;
}
.navbar2 li a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: grey;
    line-height: 2.5rem;
}
.navbar2 li a.active::after,
.navbar2 li a:hover::after{
    content: "";
    width: 3%;
    height: 4px;
    background: #b878c6;
    position: absolute;
    top: 486%;
    left: 17.7%;
}
.img img{
    margin-left: 40%;
}
.details{
    margin-left: 20%;
}
.details h3{
    color: #353336;
}
.details b{
    color: #353336; 
    font-size: 20px;
}
.details span{
    text-decoration: line-through; 
    color: grey;
    font-size: 12px;
}
.details p{
    font-size: 14px;
    color: grey;
}
.details .sold{
    display: flex;
}
.details .sold .fff{
    font-weight: 600;
    color: #353336;
}
.details .sold .ttt{
    margin-left: 47%;
    font-weight: 600;
    color: #353336;
}
.details input{
    width: 88%;
}
.details button{
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    background-color: #c86cd9;
    margin-top: 5%;
}
.details button:hover{
    /* background-color: #5032b6; */
    opacity: 0.8;
}
#container4 i{
    color: #c86cd9;
    font-size: 60px;
    position: absolute;
    top: 460%;
    left: 52%;
}
#container4 .p{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 459.4%;
    left: 52.5%;
}
#container5{
    margin-top: 5%;
    height: 90vh;
}
#container5 h4{
    margin-left: 12%;
    color: #353336;
    font-weight: 800;
    font-size: 15px;
}
#container5 h1{
    margin-left: 12%;
    font-size: 50px;
    color: #353336;
    line-height: 1rem;
}
.pro-content{
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
}
.pro-content1 img{
    height: 35vh;
}
.pro-content1{
    border: 1px solid black;
    display: inline-block;
    border: none;
    height: 53vh;
    box-shadow: 5px 7px 23px 0px rgba(58, 52, 82, 0.16);
    margin-left: 2%;
}
.pro-content1 h3{
    color: #353336;
    margin-left: 5%;
    font-weight: 800;
    letter-spacing: -1px;
}
.pro-content1 p{
    font-size: 10px;
    font-weight: 700;
    color: #353336;
    margin-left: 5%;
    line-height: 1px;
}
.arrows1 .fa-chevron-left{
    position: absolute;
    top: 620%;
    left: 47%;
    border: 1px solid #b563d1;
    border-radius: 50px;
    color: #b563d1;
    font-size: 13px;
    padding: 10px;
    /* margin-left: 1%; */
    cursor: pointer;
}
.arrows1 .fa-chevron-right{
    position: absolute;
    top: 620%;
    right: 46.5%;
    border: 1px solid #b563d1;
    border-radius: 50px;
    color: #b563d1;
    font-size: 13px;
    padding: 10px;
    cursor: pointer;
}
#container6 {
    display: flex;
    background-color: #5032b6;
    height: 50vh;
}
#container6 .contents2{
    margin-left: 12%;
    margin-top: 6%;
}
#container6 .contents2 h4{
    font-size: 13px;
    color: white;
}
#container6 .contents2 h1{
    font-size: 60px;
    line-height: 1rem;
    color: white;
}
#container6 .contents2 p{
    font-size: 14px;
    color: lightblue;
}
.form input{
    padding: 10px;
    margin: 0;
    width: 160%;
    font-size: 1rem;
    line-height: 1.5;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin: 80% 0 0 55%;
}
#container6 button{
    padding: 15px;
    width: 150%;
    height: 5vh;
    border-radius: 40px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffc300;
    margin: 183% 0 0 345%;
}
#container6 button p{
    margin-top: -5%;
}
#container6 button:hover{
    /* background-color: #b563d1; */
    opacity: 0.8;
}
#container6 .circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #b563d1;
    background-image: linear-gradient(to right top, #b563d1, #5032b6);
    margin-top: -2%;
}
.footer{
    background-color: #fdf2ff;
    height: 48vh;
}
.flex{
    display: flex;
    background-color: #fdf2ff;
    color: grey;
    padding: 50px;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 180px;
    font-size: 15px;
}
.col p{
    font-size: 13px;
    font-weight: 600;
    line-height: 2px;
}
.end{
    display: flex;
    margin-left: 15%;
    margin-top: 1%;
}
.end p{
    color: grey;
}
.socialmedia{
    margin-left: 25%;
    margin-top: 1%;
}
.socialmedia i{
    border: 3px solid #b563d1;
    border-radius: 30px;
    padding: 5px;
    color: #b563d1;
}
.pay{
    font-size: 30px;
    margin-left: 25%;
}
.pay i{
    margin-left: 10px;
    color: grey;
}


/* iphone SE */

@media screen and (max-width:600px) {  
    body{
        width: 400%;
    }
    #container{
        height: 100%;
        /* width: 400%; */
    }
    #header h1 {
        font-size: 90px;
        margin-left: 5%;
        margin-top: -5%;
    }
    #header input {
        margin: 20% -18% 0 -23%;
        width: 50%;
        padding: 10px;
        font-size: 40px;
    }
    #navbar {
        display: none;
    }
    .icon{
        margin-left: -20%;
        margin-top: -35%;
        display: flex;
    }
    .icon i {
        font-size: 70px;
        padding: 25px;
        border-radius: 130px;
        margin-left: 2%;
        border: 3px solid white;
    }
    #banner img {
        margin: 45% 0 0 30%;
        height: 100vh;
        /* display: none; */
    }
    #banner i{
        display: none;
    }
    #banner .content {
        /* margin: 5% 0 0 -65%; */
        margin-left: -1100px;
        margin-top: 5%;
        color: white;
    }
    .content h4 {
        font-size: 55px;
    }
    .content h1{
        font-size: 100px;
        line-height: 90px;
    }
    .content button {
        font-size: 25px;
        width: 35%;
        padding: 10px;
        border-radius: 30px;
        border: none;
    }

    #features {
        flex-direction: column;
        height: 300vh;
        /* width: 300%; */
    }
    .box{
        margin-top: 15%;
    }
    .box i {
        font-size: 150px;
        margin-left: 4%;
    }
    .contents{
        margin-left: 5%;
    }
    .contents h3 {
        font-size: 70px;
    }
    .contents p{
       font-size: 40px;
    }

    #container1{
        margin-top: 20%;
        height: 600vh;
        /* width: 300%; */
    }
    #container1 .desc h4 {
        font-size: 40px;
    }
    #container1 .desc h1 {
        font-size: 70px;
    }
    #container1 .desc p {
        font-size: 28px;
    }
    .products {
        flex-direction: column;
        margin-left: 25%;
    }
    .product1 img {
        height: 80vh;
        margin-left: 15%;
    }
    .product1 .h4 {
        font-size: 40px;
        margin-left: 27%;
        margin-top: -90px;
    }
    .product2 img {
        height: 70vh;
        margin-left: 17%;
        margin-top: 80px;
    }
    .product2 .h4 {
        font-size: 40px;
        margin-top: 12px;
        margin-left: 20%;
    }
    .product3 img {
        height: 50vh;
        margin-left: 15%;
        margin-top: 80px;
    }
    .product3 .h4 {
        font-size: 40px;
        margin-top: 12px;
        margin-left: 20%;
    }
    .product4 img {
        height: 50vh;
        margin-left: 15%;
        margin-top: 80px;
    }
    .product4 .h4 {
        font-size: 40px;
        margin-top: 12px;
        margin-left: 20%;
    }
    #container2{
        height: 600vh;
        /* width: 300%; */
    }
    #container2 .desc h4 {
        font-size: 50px;
    }
    #container2 .desc h1 {
        font-size: 90px;
    }
    .valiya {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 25%;
    }
    .grid1 {
        width: 50rem;
        height: 60rem;
        margin-left: -200%;
    }
    .grid1 h2 {
        margin-top: 3%;
        font-size: 60px;
    }
    .grid1 p {
        font-size: 30px;
        line-height: 1rem;
    }
    .grid1 button {
        font-size: 40px;
        border: 2px solid;
        border-radius: 60px;
    }
    .grid1 .image1 img {
        margin-top: 25%;
        height: 75vh;
    }
    .grid2 {
        width: 50rem;
        height: 30rem;
        margin-left: -200%;
        margin-top: 2rem;
    }
    .grid2 h2 {
        font-size: 60px;
    }
    .grid2 .image2  p {
        font-size: 40px;
        line-height: 1rem;
    }
    .grid2 .image2 .qq{
        margin-top: -17%;
        margin-left: -4rem; 
    }
    .grid2 .image2 .kk{
        display: block;    
    }
    .grid2 .image2 img {
        margin-top: -18%;
        margin-left: 21%;
        height: 80vh;
    }
    .grid3 {
        width: 50rem;
        height: 30rem;
        margin-left: -200%;
        margin-top: 2rem;
    }
    .grid3 h2 {
        margin-top: 3%;
        margin-left: 10rem;
        font-size: 60px;
    }
    .grid3 .image3  p {
        font-size: 40px;
        line-height: 1rem;
    }
    .grid3 .image3 img {
        margin-top: -9%;
        margin-left: 27%;
        height: 95vh;
    }
    .grid4 {
        width: 50rem;
        height: 60rem;
        margin-left: -200%;
        margin-top: 2rem;
    }
    .grid4 .image4 .rrr{
        display: block;
    }
    .grid4 .tt{
        margin-left: -15%;
    }
    .grid4 h2 {
        margin-top: 7%;
        font-size: 60px;
    }
    .grid4 .image4 p {
        font-size: 35px;
        line-height: 4rem;
    }
    .grid4 .image4 button {
        font-size: 40px;
        border: 2px solid;
        border-radius: 60px;
        width: 40%;
    }
    .grid4 .image4 img {
        margin-top: 13rem;
        margin-left: 1rem;
        height: 85vh;
    }

    #container3 {
        height: 780vh;
    }
    #container3 .header1{
        display: block;
    }
    #container3 .header1 h2 {
        font-size: 80px;
        margin-top: 5rem;
        margin-left: -1rem;
    }
    #container3 .navbar1 {
       margin-top: -1rem;
       margin-left: -33%;
    }
    .navbar1 li a {
        font-size: 40px;
        margin-left: -1rem;
    }
    .navbar1 li a.active::after,
    .navbar1 li a:hover::after{
        position: absolute;
        bottom: -3px;
        left: 5px;
    }
    #electronics {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }
    #electronics .items {
        width: 40%;
        height: 140vh;
        margin-left: 30%;
    }
    #electronics .items img {
        height: 70vh;
        margin-left: -11%;
    }
    #electronics .items h2 {
        font-size: 60px;
    }
    #electronics .items p {
        font-size: 40px;
        font-weight: 700;
    }
    #electronics .items i {
        font-size: 50px;
        border: 2px solid;
        border-radius: 50px;
        padding: 15px;
    }
    #electronics .items1 {
        width: 40%;
        height: 140vh;
        margin-left: 30%;
        margin-top: 8%;
    }
    #electronics .items1 img {
        height: 70vh;
        margin-left: -5%;
    }
    #electronics .items1 h2 {
        font-size: 60px;
    }
    #electronics .items1 p {
        font-size: 40px;
        font-weight: 700;
    }
    #electronics .items1 i {
        font-size: 50px;
        border: 2px solid;
        border-radius: 50px;
        padding: 15px;
    }
    #electronics .items2 {
        width: 40%;
        height: 140vh;
        margin-left: 30%;
        margin-top: 8%;
    }
    #electronics .items2 img {
        height: 70vh;
        margin-left: -5%;
    }
    #electronics .items2 h2 {
        font-size: 60px;
    }
    #electronics .items2 p {
        font-size: 40px;
        font-weight: 700;
    }
    #electronics .items2 i {
        font-size: 50px;
        border: 2px solid;
        border-radius: 50px;
        padding: 15px;
    }
    #electronics .items3 {
        width: 40%;
        height: 140vh;
        margin-left: 30%;
        margin-top: 8%;
    }
    #electronics .items3 img {
        height: 70vh;
        margin-left: -5%;
    }
    #electronics .items3 h2 {
        font-size: 60px;
    }
    #electronics .items3 p {
        font-size: 40px;
        font-weight: 700;
    }
    #electronics .items3 i {
        font-size: 50px;
        border: 2px solid;
        border-radius: 50px;
        padding: 15px;
    }
    .arrows .fa-chevron-left {
        /* position: absolute;
        top: 478rem;
        left: 39%;
        font-size: 10px; */
        display: none;
    }
    .arrows .fa-chevron-right {
        /* position: absolute;
        top: 478rem;
        right: 40%;
        font-size: 10px; */
        display: none;
    }

    #container4 {
        height: 580vh;
    }
    .header2{
        display: block;
        margin-left: -2%;
    }
    .header2 h1 {
        font-size: 70px;
    }
    .header2 h2 {
        font-size: 50px;
    }
    .contents1 {
        flex-direction: column;
    }
    .menu {
        width: 40%;
        height: 130vh;
        margin-top: 15%;
        margin-left: -18%;
    }
    .menu h2 {
        font-size: 50px;
        margin-left: 3%;
    }
    .navbar2 li a{
        font-size: 45px;
        line-height: 6rem;
    }
    .navbar2 li a.active::after,
    .navbar2 li a:hover::after{
        width: 40%;
        height: 8px;
        position: absolute;
        top: 1117rem;
        left: 34rem;
    }
    .img img {
        margin-top: 30%;
        margin-left: -15%;
        height: 130vh;
    }
    .details {
        margin-top: 15%;
        margin-left: -12%;
    }
    .details h3 {
        font-size: 55px;
    }
    .details b {
        font-size: 45px;
        line-height: 1rem;
    }  
    .details span {
        font-size: 30px;
    } 
    .details p {
        font-size: 40px;
    }
    .details .sold .fff {
        font-size: 40px;
    }
    .details .sold .ttt {
        font-size: 40px;
    }
    .details button {
        width: 23%;
        height: 7vh;
        font-size: 30px;
    }
    #container4 i {
        display: none;
    }
    #container4 .p {
        display: none;
    }
    
    #container5 {
        height: 510vh;
        margin-top: 15%;
    }
    #container5 h4 {
        font-size: 35px;
        margin-left: 7%;
    }
    #container5 h1 {
        font-size: 65px;
        margin-left: 7%;
    }
    .pro-content {
        flex-direction: column;
    }
    .pro-content1 {
        height: 130vh;
        width: 125vh;
        margin-top: 10%;
        margin-left: 15%;
    }.pro-content1 img {
        height: 64%;
    }
    .pro-content1 h3 {
        font-size: 50px;
    }
    .pro-content1 p {
        font-size: 35px;
    }
    .arrows1{
        display: none;
    }
    

    #container6 {
        height: 130vh;
        flex-direction: column
    }
    #container6 .contents2{
        margin-left: 5%;
    }
    #container6 .contents2 h4 {
        font-size: 30px;
    }
    #container6 .contents2 h1 {
        font-size: 80px;
    }
    #container6 .contents2 p {
        font-size: 30px;
    }
    .form input {
        margin-top: 2rem;
        margin-left: 5%;
        width: 50%;
        height: 10vh;
        font-size: 32px;
    }
    #container6 button {
        margin-left: 5%;
        margin-top: 2rem;
        width: 15%;
        height: 10vh;
        font-size: 32px;
    }
    #container6 button p{
        margin-top: -2%;
    }
    #container6 .circle {
        display: none;
    }

    .footer {
        height: 75vh;
    }
    .flex{
        margin-left: -13%;
    }
    .col{
        display: block;
        margin-right: -10rem;
        margin-top: 2%;
    }
    .col p {
        font-size: 30px;
        line-height: 5px;
    }
    .footer hr{
        margin-top: -2%;
    }
    .end {
        margin-left: 10%;
    }
    .end p {
        font-size: 30px;
    }
    .socialmedia {
        margin-left: 15%;
        margin-top: 2%;
    }
    .socialmedia i {
        font-size: 30px;
        border: 1px solid #b563d1;
        padding: 2px;
    }
    .pay {
        font-size: 40px;
        margin-left: 15%;
    }
}

/* ipad */

@media screen and (min-width:600px) and (max-width:1024px)  {  
    body{
        width: 350%;
    }
    #container{
        height: 470%;
    }
    #header{
        display: block;
        margin-left: -15%;
    }
    #header h1 {
        font-size: 100px;
        margin-left: 22%;
        margin-top: 4%;
    }
    #header input {
        margin: 2% 0 0 37%;
        width: 50%;
        padding: 10px;
        font-size: 3rem;
    }
    #navbar {
        display: flex;
        justify-content: center;
        margin-top: -12%;
        margin-right: 150%;
        margin-left: 60%;
    }
    #navbar li a {
        font-size: 60px;
        margin-left: 49px;
    }
    .icon{
        margin-left: 95%;
        margin-top: -4%;
        display: flex;
    }
    .icon i {
        font-size: 90px;
        padding: 20px;
        border-radius: 70px;
        margin-left: 5%;
        border: 3px solid white;
    }
    #banner img {
        margin: 47% 0 0 30%;
        height: 130vh;
    }
    #banner i{
        display: none;
    }
    #banner .content {
        margin: 17% 0 0 -50%;
        color: white;
    }
    .content h4 {
        font-size: 70px;
    }
    .content h1{
        font-size: 11rem;
        line-height: 10rem;
    }
    .content button {
        font-size: 40px;
        width: 30%;
        padding: 10px;
        border-radius: 10rem;
        border: none;
    }

    #features {
        /* flex-direction: column; */
        height: 80vh;
        
    }
    .fea{
        display: flex;
        margin-left: 5%;
    }
    .box{
        margin-top: 5%;
        margin-left: -2%;
    }
    .box i {
        font-size: 7rem;
        margin-left: 5%;
    }
    .contents{
        margin-left: 2%;
        margin-top: -2%;
    }
    .contents h3 {
        font-size: 3rem;
    }
    .contents p{
        font-size: 25px;
    }

    #container1{
        margin-top: 20%;
        height: 220vh;
    }
    #container1 .desc {
        margin-top: -10%;
        margin-left: -5%;
    }
    #container1 .desc h4 {
        font-size: 45px;
    }
    #container1 .desc h1 {
        font-size: 90px;
    }
    #container1 .desc p {
        font-size: 40px;
    }
    .products {
        /* flex-direction: column; */
        margin-left: 10%;
    }
    .product1 img {
        height: 85vh;
        margin-left: 5%;
    }
    .product1 .h4 {
        font-size: 28px;
        margin-left: 40%;
    }
    /* .products h4{
        margin-top: 14%;
    } */
    
    .product2 img {
        height: 60vh;
        margin-left: 17%;
        margin-top: 18%;
    }
    .product2 .h4 {
        font-size: 28px;
        margin-top: 35%;
        margin-left: 23%;
    }
    .product3 img {
        height: 60vh;
        margin-left: 10%;
        margin-top: 20%;
    }
    .product3 .h4 {
        font-size: 28px;
        margin-top: 12%;
        margin-left: 29%;
    }
    .product4 img {
        height: 55vh;
        margin-left: 5%;
        margin-top: 10%;
    }
    .product4 .h4 {
        font-size: 28px;
        margin-top: 10%;
        margin-left: 25%;
    }
    #container2{
        height: 240vh;
    }
    #container2 .desc{
        margin-left: -5%;
    }
    #container2 .desc h4 {
        font-size: 45px;
    }
    #container2 .desc h1 {
        font-size: 80px;
    }
    .valiya {
        margin-top: 5%;
        margin-left: 15%;
    }
    .grid1 {
        width: 43rem;
        height: 50rem;
        margin-left: -4rem;
    }
    .grid1 h2 {
        margin-top: 3%;
        font-size: 50px;
    }
    .grid1 p {
        font-size: 30px;
        line-height: 1rem;
    }
    .grid1 button {
        font-size: 30px;
        border: 3px solid;
        border-radius: 60px;
    }
    .grid1 .image1 img {
        margin-top: 23%;
        height: 65vh;
    }
    .grid2 {
        width: 43rem;
        height: 22rem;
        /* margin-left: -4rem; */
        /* margin-top: rem; */
    }
    .grid2 .image2 .qq{
        margin-left: -15%;
        margin-top: -15%;
    }
    .grid2 h2 {
        margin-top: 3%;
        margin-left: 10rem;
        font-size: 50px;
    }
    .grid2 .image2  p {
        font-size: 30px;
        line-height: 1rem;
    }
    .grid2 .image2 .kk{
        display: block;    
    }
    .grid2 .image2 img {
        margin-top: -26%;
        margin-left: 28%;
        height: 65vh;
    }
    .grid3 {
        width: 43rem;
        height: 22rem;
        margin-left: 4rem;
        /* margin-top: 5rem; */
    }
    .grid3 h2 {
        margin-top: 3%;
        margin-left: 10rem;
        font-size: 50px;
    }
    .grid3 .image3  p {
        font-size: 30px;
        line-height: 1rerm;
    }
    .grid3 .image3 img {
        margin-top: -6%;
        margin-left: 32%;
        height: 65vh;
    }
    .grid4 {
        width: 87rem;
        height: 25rem;
        /* margin-left: -4rem;
        margin-top: 5rem; */
        display: flex;
    }
    .grid4 .image4 .rrr{
        margin-left: -15%;
    }
    .grid4 h2 {
        margin-top: 2%;
        font-size: 50px;
    }
    .grid4 .image4 p {
        font-size: 30px;
        line-height: 10rem;
    }
    .grid4 .image4 button {
        font-size: 30px;
        border: 3px solid;
        border-radius: 60px;
        width: 15%;
        margin-top: -5%;
    }
    .grid4 .image4 .rrr{
        display: block;
    }
    .grid4 .image4 img {
        margin-top: -15rem;
        margin-left: 57rem;
        height: 75vh;
    }

    #container3 {
        height: 230vh;
    }
    #container3 .header1{
        margin-left: -15%;
    }
    #container3 .header1 h2 {
        font-size: 90px;
        margin-left: 20%;
    }
    #container3 .navbar1 {
        margin-top: -1rem;
        margin-left: 86%;
    }
    .navbar1 li a {
        font-size: 40px;
        margin-left: -1rem;
    }
    .navbar1 li a.active::after,
    .navbar1 li a:hover::after{
        position: absolute;
        bottom: -3px;
        left: 5px;
    }
    #electronics{
        margin-left: -2%;
        margin-top: 5%;
    }
    #electronics .items {
        width: 12%;
        height: 90vh;
        /* margin-right: 4%; */
    }
    #electronics .items img {
        height: 40vh;
        margin-left: -8%;
    }
    #electronics .items h2 {
        font-size: 40px;
        margin-left: 3%;
    }
    #electronics .items p {
        font-size: 40px;
    }
    #electronics .items i {
        font-size: 50px;
        border: 3px solid;
    }
    #electronics .items1 {
        width: 12%;
        height: 90vh;
        /* margin-right: 4%; */
    }
    #electronics .items1 img {
        height: 40vh;
        margin-left: -5%;
    }
    #electronics .items1 h2 {
        font-size: 40px;
        margin-left: 3%;
    }
    #electronics .items1 p {
        font-size: 40px;
    }
    #electronics .items1 i {
        font-size: 50px;
        border: 3px solid;
    }
    #electronics .items2 {
        width: 12%;
        height: 90vh;
        /* margin-right: 4%; */
    }
    #electronics .items2 img {
        height: 40vh;
        margin-left: -5%;
    }
    #electronics .items2 h2 {
        font-size: 40px;
        margin-left: 3%;
    }
    #electronics .items2 p {
        font-size: 40px;
    }
    #electronics .items2 i {
        font-size: 50px;
        border: 3px solid;
    }
    #electronics .items3 {
        width: 12%;
        height: 90vh;
        /* margin-right: 4%; */
    }
    #electronics .items3 img {
        height: 40vh;
        margin-left: -5%;
    }
    #electronics .items3 h2 {
        font-size: 40px;
        margin-left: 3%;
    }
    #electronics .items3 p {
        font-size: 40px;
    }
    #electronics .items3 i {
        font-size: 50px;
        border: 3px solid;
    }
   
    .arrows .fa-chevron-left {
        /* position: absolute;
        top: 478rem;
        left: 39%;
        font-size: 10px; */
        display: none;
    }
    .arrows .fa-chevron-right {
        /* position: absolute;
        top: 478rem;
        right: 40%;
        font-size: 10px; */
        display: none;
    }
 
    #container4 {
        height: 300vh;
    }
    .header2{
        margin-left: -8%;
    }
    .header2 h1 {
        font-size: 5rem;
        margin-left: 20%;
    }
    .header2 h2 {
        font-size: 5rem;
    }
    .contents1 {
        margin-left: 12%;
        margin-top: -5%;
    }
    .menu {
        width: 20%;
        height: 95vh;
        margin-top: 5%;
        margin-left: -8%;
    }
    .menu h2 {
        font-size: 50px;
        margin-left: 3%;
    }
    .navbar2 li a{
        font-size: 45px;
        line-height: 5rem;
    }
    .navbar2 li a.active::after,
    .navbar2 li a:hover::after{
        width: 10%;
        height: 6px;
        position: absolute;
        top: 511rem;
        left: 23%;
    }
    .img img {
        margin-top: 30%;
        margin-left: 55%;
        height: 100vh;
    }
    .details {
        margin-top: 15%;
        margin-left: 20%;
    }
    .details h3 {
        font-size: 65px;
    }
    .details b {
        font-size: 48px;
        line-height: 1rem;
    }  
    .details span {
        font-size: 37px;
    } 
    .details p {
        font-size: 43px;
    }
    .details .sold .fff {
        font-size: 45px;
    }
    .details .sold .ttt {
        font-size: 45px;
    }
    .details button {
        width: 33%;
        height: 8vh;
        font-size: 40px;
        border-radius: 30px;
    }
    #container4 i {
        display: none;
    }
    #container4 .p {
        display: none;
    }
     
    #container5 {
        height: 270vh;
    }
    #container5 h4 {
        font-size: 45px;
        margin-left: 5%;
    }
    #container5 h1 {
        font-size: 90px;
        margin-left: 5%;
    }
    .pro-content{
        margin-left: 5%;
    }
    .pro-content1 {
        height: 140vh;
        width: 30%;
        margin-top: 5%;
        margin-left: 2%;
    }.pro-content1 img {
        height: 84vh;
    }
    .pro-content1 h3 {
        font-size: 50px;
    }
    .pro-content1 p {
        font-size: 40px;
    }
    .arrows1{
        display: none;
    }
     
 
    #container6 {
        height: 160vh;
        flex-direction: column
    }
    #container6 .contents2{
        margin-left: 5%;
    }
    #container6 .contents2 h4 {
        font-size: 30px;
    }
    #container6 .contents2 h1 {
        font-size: 80px;
    }
    #container6 .contents2 p {
        font-size: 45px;
    }
    .form input {
        margin-top: 2rem;
        margin-left: 5%;
        width: 25%;
        /* height: 4vh; */
        font-size: 40px;
        padding: 20px;
    }
    #container6 button {
        margin-left: 5%;
        margin-top: 2rem;
        width: 15%;
        padding: 40px;
        /* height: 5vh; */
        font-size: 50px;
    }
    #container6 button p{
        margin-top: -8%;
    }
    #container6 .circle {
        display: none;
    }
 
    .footer {
        height: 160vh;
    }
    .flex{
        margin-left: 2%;
    }
    .col{
        /* display: block; */
        margin-right: 2rem;
        margin-top: 3%;
    }
    .col p {
        font-size: 40px;
        line-height: 10px;
    }
    .footer hr{
        margin-top: 2%;
    }
    .end {
        margin-left: 10%;
    }
    .end p {
        font-size: 35px;
    }
    .socialmedia {
        margin-left: 19%;
        margin-top: 2%;
    }
    .socialmedia i {
        font-size: 47px;
        border: 3px solid #b563d1;
        padding: 15px;
        border-radius: 20%;
    }
    .pay {
        font-size: 65px;
        margin-left: 27%;
        margin-top: 1%;
    }
}

